<section class="categorie">
    <ul>
        <li>
            <a href="" title="acajou" class="acajou">acajou (1)</a>
        </li>
        <li>
            <a href="" title="Agencement de bar" class="agencement-de-bar">Agencement de bar (1)</a>
        </li>
        <li>
            <a href="" title="art déco" class="art-deco">art déco (1)</a>
        </li>
        <li>
            <a href="" title="Balance" class="balance">Balance (1)</a>
        </li>
        <li>
            <a href="" title="Barbier" class="barbier">Barbier (2)</a>
        </li>
    </ul>
    <hr />
</section>