<section class="contact">
    <h1>contact</h1>
    <article>
        <h2>Le Magasin</h2>
        <p>Le magasin est ouvert le samedi matin de 10h00 à 12h30 ou sur rendez-vous.</p>
        <strong>Didier Motte</strong>
        <br>
        <a href="mailto:dmotte@skynet.be">dmotte@skynet.be</a>
        <div class="info">
            <p>+32 495 20.59.34</p>
            <p>Rue Saint Georges 35</p>
            <p>B-1400 Nivelles</p>
            <p>Belgique.</p>
        </div>
        <div class="info">
            <p>Retrouvez nos mises à jour en vous
                <a href="https://www.facebook.com/antiquites.decoration" target="_blank" rel="noopener">abonnant à notre page Facebook</a>
            </p>
        </div>
        <iframe width="600" height="450" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDwtRTEE3_VKMoouu4yexqapqAui6THvuc
                &q=didier motte" allowfullscreen>
        </iframe>
        <form>
            <p>Lieu de départ :
                <input type="text" name="from">
                <input type="submit" value="Itinéraire">
            </p>
        </form>

    </article>
</section>