<header>
    <nav>

    </nav>
</header>

<section class="head" >
    <div class="vcard">
        <img src="views/assets/img/didier.png" alt="Didier Motte">
        <p>Antiquités • Décoration • Aménagements d'intérieur</p>
        <p>☎<a href="tel:+32495205934" title="Cliquez pour lancer un appel téléphonique: +32 495/20.59.34">+32 495/20.59.34</a></p>
        <nav role="navigation">
            <ul>
                <li><a href="index.php?action=present">Présentation</a></li>
                <li><a href="">Le stock</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </div>
</section>