<header>
    <nav>
        <p>Antiquités • Décoration • Aménagements d'intérieur</p>
    </nav>
    <div class="overhead">
        <a href="http://localhost/becode/didiermotte/index.php?action=home">
            <img src="views/assets/img/didierwhite.png" alt="Didier Motte">
        </a>
        <div role="navigation" class="onglet">
            <ul>
                <li>
                    <a href="index.php?action=present">Présentation</a>
                </li>
                <li>
                    <a href="index.php?action=stock">Le stock</a>
                </li>
                <li>
                    <a href="index.php?action=contact">Contact</a>
                </li>
            </ul>
        </div>
        <p>☎
            <a href="tel:+32495205934" title="Cliquez pour lancer un appel téléphonique: +32 495/20.59.34">+32 495/20.59.34</a>
        </p>
    </div>
</header>