
<div class="present">
    <article>
        <h1>didier motte</h1>
        <p style="text-align: center;">
            <img src="https://didiermotte.be/app/uploads/2013/08/didier-grosplan-bw-o.png" alt="Didier motte">
        </p>
        <h2>Les meubles ont une histoire, authentique.</h2>
        <p>Toujours à la recherche de l’extra-ordinaire, de l’insolite, fasciné par la «&nbsp;petite&nbsp;» histoire du monde,
            celle des métiers d’autrefois,&nbsp;Didier Motte fait partie de ces quelques connaisseurs, brocanteurs ou décorateurs
            qui, à travers leur regard et leur toucher, savent percevoir l’histoire des objets anciens pour leur donner une
            nouvelle légitimité esthétique et fonctionnelle.</p>
        <div class="quote">
            <p>Je fais essentiellement des anciens meubles de commerce, des intérieurs complets de vieux magasins, bistrots,
                pharmacies…&nbsp;J’ai un entrepôt à Luttre, à Nivelles et à Haerelbeek . Si vous êtes dans le coin, vous
                pouvez venir jeter un coup d’oeil ( appelez-moi auparavant au 0495 205 934 ). &nbsp;À bientôt! – Didier.</p>
        </div>
        <h2>Services</h2>
        <p>Location de meubles et accessoires pour tournage.</p>
        <h2>Livraison</h2>
        <p>Livraison dans toute l’Europe &amp; le monde.</p>
        <h2>Ils ont fait confiance</h2>
        <p>L’OSEILLE : ( Paris ) Restaurant .</p>
        <p>LE BISTROT DE LA GALETTE : ( Paris ) Restaurant .</p>
        <p>BARBER SHOES : ( Ixelles ) Barbier et chausseur .</p>
        <p>EAUX VIVES : ( Genève ) Pharmacie</p>
        <p>BIG MOUSTACHE : ( Paris ) Barbier</p>
        <p>BALTHAZAR : ( Bruxelles ) Fauteuils design .</p>
        <p>
            <a title="Zahia, magasins de bijoux et accessoires" href="http://zahia.be" target="_blank" rel="noopener">ZAHIA</a>&nbsp;: ( Anvers , Gand , Brugge , Hasselt &nbsp;) Bijoux .</p>
        <p>
            <a href="http://www.vino-events.com/" target="_blank" rel="noopener">VINOPRES</a> : ( Bruxelles ) Publications sur le monde du vin .</p>
        <p>
            <a href="http://le-relais-du-triporteur.be/#home" target="_blank" rel="noopener">LE RELAIS DU TRIPORTEUR</a> : ( Bruxelles ) Epicerie et restaurant Bio .</p>
        <p>
            <a href="http://www.superfillesdutram.com/" target="_blank" rel="noopener">LES SUPER FILLES DU TRAM</a> : ( Bruxelles ) Restaurant .</p>
        <p>
            <a href="http://www.intaglio.fr/" target="_blank" rel="noopener">INTAGLIO</a> : ( Paris ) Imprimeur , graveur , papier de créations .</p>
        <p>
            <a href="http://www.villa-alice.be/" target="_blank" rel="noopener">VILLA ALICE</a> : ( Westande-bad ) Restaurant .</p>
        <p>MAMMUTI : ( Ile de Ré ) Galerie , appartements d’hôtes .</p>
        <p>ETABLISSEMENTS MAX BLOCH : ( Bruxelles ) Grossiste en tissus .</p>
        <p>RAW MATERIALS : ( Amsterdam ) Décoration .</p>
        <p>MONS 2015 : Restaurant La Maison Folie</p>
        <p>LA MERCERIE : ( Ixelles ) Salon de Thé et Dégustation</p>
        <p>MY ITALIAN FRIENDS : ( Waterloo ) Restaurant et design italien</p>
        <p>…</p>
    </article>
</div>