<section class="stock">
    <h1>le stock</h1>
    <form method="get" name="searchstock" action="">
        <label for="search"> fouiller le stock </label>
        <input name="search" class="search" value="" type="text" autocapitalize="off" autocorrect="off" placeholder="Exemple: table">
        <input type="submit" class="button" value="recherche">
    </form>
    <h2>Derniers Objets</h2>
    <ul>
        <li>
            <img src="./views/assets/img/v-dd.jpg" alt="Meuble Industriel">
            <h4>Etablit industriel</h4>
        </li>
        <li>
            <img src="./views/assets/img/dd-atelier.jpg" alt="Meuble Atelier">
            <h4>Meuble d'atelier'</h4>
        </li>
        <li>
            <img src="./views/assets/img/dd-j.jpg" alt="Meuble Jardin">
            <h4>Meuble de Jardin</h4>
        </li>
    </ul>
    <nav class="pagination">
        <ul class="page-numbers">
            <li>
                <span aria-current="page" class="page-numbers current">1</span>
            </li>
            <li>
                <a class="page-numbers" href="">2</a>
            </li>
            <li>
                <a class="page-numbers" href="">3</a>
            </li>
            <li>
                <a class="page-numbers" href="">4</a>
            </li>
            <li>
                <a class="page-numbers" href="">5</a>
            </li>
            <li>
                <a class="next page-numbers" href="">Suivant »</a>
            </li>
        </ul>
    </nav>
    <hr />
    <form method="get" name="searchstock" action="">
        <label for="search"> fouiller le stock </label>
        <input name="search" class="search" value="" type="text" autocapitalize="off" autocorrect="off" placeholder="Exemple: table">
        <input type="submit" class="button" value="recherche">
    </form>
</section>
