<section class="stock">
    <h1>le stock</h1>
    <form method="get" name="searchstock" action="">
        <label for="search"> fouiller le stock </label>
        <input name="search" class="search" value="" type="text" autocapitalize="off" autocorrect="off" placeholder="Exemple: table">
        <input type="submit" class="button" value="recherche">
    </form>
    <h2>Derniers Objets</h2>
    <ul>
        <li>
            <img src="https://didiermotte.be/app/uploads/2018/03/IMG_3940-250x250.jpg" alt="Meuble Vitrine">
            <h4>Meuble-vitrine de chapelier</h4>
        </li>
        <li>
            <img src="https://didiermotte.be/app/uploads/2018/02/IMG_3800-250x250.jpg" alt="Meuble Barbier">
            <h4>Meuble de chapelier barbier</h4>
        </li>
        <li>
            <img src="https://didiermotte.be/app/uploads/2018/01/IMG_E3546-250x250.jpg" alt="Meuble Coiffeur">
            <h4>Meuble de coiffeur</h4>
        </li>
    </ul>
    <nav class="pagination">
        <ul class="page-numbers">
            <li>
                <span aria-current="page" class="page-numbers current">1</span>
            </li>
            <li>
                <a class="page-numbers" href="">2</a>
            </li>
            <li>
                <a class="page-numbers" href="">3</a>
            </li>
            <li>
                <a class="page-numbers" href="">4</a>
            </li>
            <li>
                <a class="page-numbers" href="">5</a>
            </li>
            <li>
                <a class="next page-numbers" href="">Suivant »</a>
            </li>
        </ul>
    </nav>
    <hr />
    <form method="get" name="searchstock" action="">
        <label for="search"> fouiller le stock </label>
        <input name="search" class="search" value="" type="text" autocapitalize="off" autocorrect="off" placeholder="Exemple: table">
        <input type="submit" class="button" value="recherche">
    </form>
</section>
