.contact {
    background-color: white;
    padding-top: 100px;
    color: #222;
    padding-top: 190px;
    
    h1 {
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
    }
    img {
        text-align: center;
    }
    article {
        max-width: 585px;
        margin: auto;
        h2 {
            transform: none;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            margin-top: 2em;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 20px;
        }

        p {
            text-align: left;
            font-size: 20px;
            line-height: 1.4;
            padding-top: 20px;
        }
        a {
            background: #222;
            color: #F7F7F7;
            border: 1px solid #4a4a4a;
            border-radius: 5px;
            padding: 0px 12px;
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            font-size: 15px;
        }
        .info {
            padding-bottom: 10px;
            p {
                line-height: 0;
                font-size: 13px;
                a {
                    display: unset;
                }
            }
        }
    }
}
