@mixin black-button($padding){
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: $padding 5px;
    background-color: #222;
    border-radius: 5px;
    line-height: 21px;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("https://didiermotte.be/app/uploads/2017/11/NY_docks_o.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato',"Avenir Next",'sans-serif';
    a {
        text-decoration: none;
        color : #222222;
    }
}

header {
    position: fixed;
    width: 100%;
    
    nav {
        height: 40px;
        background-color: #272727;
        border-bottom: 1px solid #454444;
        color: white;
        p {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 10px;
        }
    }
}

hr {
    margin: 0 auto;
    padding: 100px 0 0;
    min-width: 80px;
    background: transparent url(../img/hr.png) center center no-repeat;
    display: block;
    border: 0;
    clear: both;
    background-size: 40%;
}

@import "partiel/_head";

@import "partiel/_stock";

@import "partiel/_cat";

@import "partiel/_blockquote";

@import "partiel/_footer";

@import "partiel/_present";

@import "partiel/_contact";